<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>MangementDorm</servlet-name>
        <servlet-class>Controller.MangementDorm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementRoom</servlet-name>
        <servlet-class>Controller.ManagementRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDorm</servlet-name>
        <servlet-class>Controller.AddDorm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDorm</servlet-name>
        <servlet-class>Controller.DeleteDorm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDorm</servlet-name>
        <servlet-class>Controller.UpdateDorm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoom</servlet-name>
        <servlet-class>Controller.AddRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoom</servlet-name>
        <servlet-class>Controller.UpdateRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoom</servlet-name>
        <servlet-class>Controller.DeleteRoom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteRoom</servlet-name>
        <url-pattern>/deleteroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoom</servlet-name>
        <url-pattern>/updateroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoom</servlet-name>
        <url-pattern>/addroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDorm</servlet-name>
        <url-pattern>/updatedorm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDorm</servlet-name>
        <url-pattern>/deletedorm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDorm</servlet-name>
        <url-pattern>/adddorm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementRoom</servlet-name>
        <url-pattern>/managementroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MangementDorm</servlet-name>
        <url-pattern>/managementdorm</url-pattern>
    </servlet-mapping>
    
</web-app>
